// SCSS Start
// Imports Start
@import '../base';
// Imports End

// Notification
.notification {
  height: auto;
  margin: 0;
  max-height: 0;
  transition: all .3s ease-in-out;

  &.active {
    max-height: 5em !important;
  }

  &.active &#{__title} {
    padding: 1em 16px;
  }

  &#{__title} {

    @extend %center;
    @extend %font-bold;

    background-color: $white;
    color: $blue;
    font-size: $text;
  }
}
// SCSS End
